<% @courses.each do |course| %>
<article id="course">
	<table>
		<tr>
			<th>
				Course Title
			</th>
			<td>
				<%= link_to course.title, course_path(course) %>
			</td>
		</tr>
		<tr>
			<th>
				Course Short Title
			</th>
			<td>
				<%= course.short_title %>
			</td>
		</tr>
		<tr>
			<th>
				Course Summary
			</th>
			<td>
				<%= course.summary %>
			</td>
		</tr>
	</table>
</article>
<% end %>
